{% extends "layout.html" %}

{% block title %}{{ fish.fish_name }}の詳細{% endblock %}

{% block content %}
<!-- 魚の詳細情報を表示するセクション -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="{{ url_for('fish', season='all') }}" class="btn btn-outline-secondary mb-4">戻る</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/fish_images/' ~ fish.image) }}" class="img-fluid" alt="{{ fish.fish_name }}">
        </div>
        <div class="col-md-6">
            <h1 class="mb-4">{{ fish.fish_name }}</h1>
            <p><strong>生息場所:</strong> {{ fish.habitat }}</p>
            <p><strong>おすすめの餌:</strong> {{ fish.bait }}</p>
            <p><strong>釣り道具:</strong> {{ fish.gear }}</p>
            <div class="d-flex justify-content-between">
                <img src="{{ url_for('static', filename='img/rod_images/' ~ fish.rod_image) }}" class="img-fluid mb-2 me-2" alt="ロッド" style="max-width: 48%;">
                <img src="{{ url_for('static', filename='img/bait_images/' ~ fish.bait_image) }}" class="img-fluid mb-2" alt="餌" style="max-width: 48%;">
            </div>
        </div>
    </div>
</div>
{% endblock %}
