{% extends "layout.html" %}

{% block title %}{{ season_name }}の魚{% endblock %}

{% block content %}
<!-- 検索バーのセクション -->
<div class="search-bar mb-4">
    <input type="text" id="searchFish" class="form-control" placeholder="魚の名前で検索...">
</div>

<!-- ページのタイトル -->
<h1 class="mb-4 text-center">{{ season_name }}の魚</h1>

<!-- 魚のリストを表示するためのグリッドレイアウト -->
<div class="row">
    {% for fish in fish_list %}
    <div class="col-md-3 col-sm-4 col-6 mb-4">
        <!-- 魚の情報を表示するカードコンポーネント -->
        <div class="card h-100 text-center">
            <a href="{{ url_for('fish_detail', fish_id=fish.fish_id) }}" class="text-decoration-none text-dark">
                <img src="{{ url_for('static', filename='img/fish_images/' ~ fish.image) }}" class="card-img-top img-fluid img-square" alt="{{ fish.fish_name }}">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ fish.fish_name }}</h5>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- 検索機能のためのJavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('searchFish');
    searchInput.addEventListener('input', function() {
        const filter = searchInput.value.toLowerCase();
        const cards = document.querySelectorAll('.card');
        cards.forEach(card => {
            const title = card.querySelector('.card-title').textContent.toLowerCase();
            if (title.includes(filter)) {
                card.parentElement.style.display = '';
            } else {
                card.parentElement.style.display = 'none';
            }
        });
    });
});
</script>
{% endblock %}
